{% extends 'admin.html.twig' %}

{% block body %}

                    <!-- <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                        </div>
                    </div> -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dashboard</h6>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <tbody>
                <tr><td>Nombre d'utilisateurs inscrits :</td></tr>
                <tr><td>Nombre d'actualités publiées :</td></tr>
                <tr><td>Nombre de publications postées :</td></tr>
                <tr><td>Nombre de jeux listés :</td></tr>
            </tbody>
        </table>
    </div>

{% endblock %}