{% extends 'base.html.twig' %}

{% block title %}ZAP Stream - Accueil{% endblock %}

{% block body %}
    <div class="body_accueil">
        <div class="body_accueil_top">
            <div class="body_accueil_title">
                <h1>Bienvenue sur Zapstream!</h1>
            </div>
            <div class="body_accueil_description">
                <h2>Retrouvez des centaines de streamers talentueux sur votre site.</h2>
            </div>
        </div>

        <div class="body_accueil_bottom">
            <div class="body_accueil_bottom_1">
                <div class="body_accueil_bottom_1_left">
                    <h3>Pour être listé parmi ces streamers, rejoins-nous en t’inscrivant et personnalise ton profil en ajoutant un avatar, le lien de ta chaîne twitch et bien plus encore.</h3>
                </div>
                <div class="body_accueil_bottom_1_right">
                    <h1>Single streamer</h1>
                </div>
            </div>

            <div class="body_accueil_bottom_2">
                <div class="body_accueil_bottom_2_left">
                    <div class="body_accueil_bottom_2_left_jeux">
                        {% for game in games %}
                            <div class="body_game_single1">
                                <div class="body_game_single2">
                                    <a class="body_game_single3" href="{{ path('app_one_game', {id: game.id }) }}">
                                        <div class="body_game_single2_left">
                                            <img src="{{ asset('upload/game/' ~ game.image) }}">
                                        </div>
                                        <div class="body_game_single2_right">
                                            <div class="body_game_single2_right_top">
                                                <div class="body_game_single2_right_top_left">
                                                    <h4>{{ game.title }}</h4>
                                                </div>
                                                <div class="body_game_single2_right_top_right">
                                                    <h4>Publications : nbr</h4>
                                                </div>
                                            </div>
                                            <div class="body_game_single2_right_bottom">
                                                <p>{{ game.description }}</p>
                                            </div>
                                        </div>
                                        <div class="body_game_single2_extreme_right">
                                            <i class="fa-solid fa-angle-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="body_accueil_bottom_2_left_post">
                        <h1>Post</h1>
                    </div>
                </div>
                <div class="body_accueil_bottom_2_right">
                    <h3>Accédez à de nombreuses fonctionnalités en étant connecté, créez des publications,
                        Interagissez avec d’autres streamers en partageant des publications sur une grande sélection des jeux vidéos du moment.
                    </h3>
                </div>
            </div>

            <div class="body_accueil_bottom_3">
                <h1>Actualités</h1>
            </div>
        </div>
    </div>
{% endblock %}
