{% extends 'base.html.twig' %}

{% block title %}ZAP Stream - Actualutés{% endblock %}

{% block body %}
    <div class="body_actualites">
        <h1>Actualités</h1>
        <div class="body_actualites_all">
            {% for actu in actualites %}
                <div class="body_actualites_single1">
                    <div class="body_actualites_single2">
                        <div class="body_actualites_img">
                            {% if actu.image %}
                                <a href="{{ path('app_one_actu', {id: actu.id }) }}"><img src="{{ asset('upload/actus/' ~ actu.image) }}""></a>
                            {% endif %}
                        </div>
                        <div class="body_actualites_title">
                            <h2><a href="{{ path('app_one_actu', {id: actu.id }) }}">{{ actu.title }}</a></h2>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
{% endblock %}

