{{ form(form) }}

{#<section id="box_recherche_barre">#}
{#    {{ form_start(form) }}#}

{#    {{ form_row(form.query) }}#}
{#    <div class="body_game_searchbar_right">#}
{#        <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>#}
{#    </div>#}
{#    {{ form_end(form) }}#}
{#</section>#}

