#body_404_not_found{
    background-color: #18183C;
    color: white;
    padding-top:15rem;
    padding-bottom:15rem;
    text-align: center;
    font-size: 45px;
    display: flex;
    justify-content: center;
}
#body_404_not_found p a{
    box-sizing: content-box;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border: solid #5B6DCD 2px;
    padding: 2px;
    background-color: rgb(111, 70, 111);
}
#body_404_not_found a:hover{
    color: red;
}

.error_404{
    width: 50%;
}

p{
    padding-bottom: 2rem;
}

a{
    margin-top: 2rem;
}

.btn_error404{
    display: flex;
    justify-content: center;
}

.icon_404 img{
    height: 150px;
    background-color: white;
}

@media(max-width:700px){
    .btn_error404{
        display: flex;
        justify-content: center;
    }
    p{
        padding: 2px;
        font-size: 20px;
    }
}


