/*header*/

.body_actualites {
    color: white;
    width: 100%;
    background-color: #18183C;
}

.body_actualites_top {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0rem;
}

/*Actus*/

.body_actualites_bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.body_actualites_single1 {
    width: 95%;
    display: flex;
    flex-flow: row wrap;

}

.body_actualites_single2 {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.body_actualites_single3 {
    border: solid black 3px;
    width: 80%;
    background-color: #494963;
    border-radius: 5px;
}

.body_actualites_img {
    width: 100%;
}

.body_actualites_img img {
    width: 100%;
    border-radius: 5px;
}


.body_actualites_title {
    display: flex;
    justify-content: center;
    padding: 1rem
}

@media (max-width: 700px) {
    /*header*/

    .body_actualites {
        color: white;
        width: 100%;
        background-color: #18183C;
    }

    .body_actualites_top {
        display: flex;
        justify-content: center;
        padding: 2.5rem 0rem;
    }

    /*Actus*/

    .body_actualites_bottom {
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;
    }

    .body_actualites_single1 {
        width: 95%;
        display: flex;
        flex-flow: row wrap;
    }

    .body_actualites_single2 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 5rem;
    }

    .body_actualites_single3 {
        border: solid black 3px;
        width: 80%;
        background-color: #494963;
        border-radius: 5px;
    }

    .body_actualites_img {
        width: 100%;
    }

    .body_actualites_img img {
        width: 100%;
        border-radius: 5px;
    }


    .body_actualites_title {
        display: flex;
        justify-content: center;
    }

}