/*header*/

.body_actualites {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
    width: 100%;
    background-color: #18183C;
}
.body_actualites h1{
    text-align: center;
}

.all_actus{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.body_actualites_all{
    
    flex-flow: row wrap;
    width: 100%;
    display: flex;
    justify-content: center;
}
.body_actualites_img{
    width: 100%;
}

.body_actualites_img img{
    width: 100%;
}

.body_actualites_single1{
    width: 45%;
    text-align: center;
}

.body_actualites_single2{
    
    
    text-align: center;
    justify-content: space-between;
}

.row_wrap_actualites{
    border: solid red;
}


@media(max-width:750px) {
    .body_actualites{
        padding-bottom: 10rem;
    }
}

@media (max-width:450px) {
    .body_actualites{
        padding-bottom: 10rem;
    }
}
@media (max-width:350px) {
    .body_actualites{
        padding-bottom: 10rem;
    }
}