/*Top*/

.body_accueil {
    background-color: #18183C;
    color: white;
}

.body_accueil_title {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

.body_accueil_description {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

/*Bottom 1*/

.body_accueil_bottom_1 {
    display: flex;
}

.body_accueil_bottom_1_left {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #494963;
}

.body_accueil_bottom_1_left h3 {
    width: 95%;
    padding: 2rem 0rem;
}

.body_accueil_bottom_1_right {
    border: solid purple;
    width: 50%;
    display: flex;
    justify-content: center;
}

/*Bottom 2*/

.body_accueil_bottom_2 {
    display: flex;
}

.body_accueil_bottom_2_left {
    border: solid purple;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
}

.body_accueil_bottom_2_left_jeux {
    border: solid blue;
    width: 100%;
}

.body_accueil_bottom_2_left_post {
    border: solid blue;
    width: 100%;
}

.body_accueil_bottom_2_right {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #494963;
}

.body_accueil_bottom_2_right h3 {
    width: 95%;
    padding: 2rem 0rem;
}

/*Bottom 3*/

.body_accueil_bottom_3 {
    border: solid red;
    display: flex;
    justify-content: center;
}


