.body_publications {
    background-color: #18183C;
    color: white;
}

/*Top*/

.body_publications_top {
    display: flex;
    justify-content: center;
    padding: 4rem 0rem;
}

.body_publications_top_create {
    border: solid;
    padding: 0.5rem;
    border-radius: 15px;
    font-size: 115%;
    background-color: #494963;
}

/*Bottom*/

.body_publications_bottom {
    display: flex;
    justify-content: center;
}

.body_publications_bottom2 {
    width: 80%;
}

.body_publications_bottom2_post {
    padding-bottom: 5rem;
}

.body_publications_bottom2_post2 {
    display: flex;
    border: solid black 2px;
    border-radius: 5px;
    background-color: #494963;
}

.body_publications_bottom2_post2_left {
    width: 30%;
}

.body_publications_bottom2_post2_left_top {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.body_publications_bottom2_post2_left_bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem    ;
}

.body_publications_bottom2_post2_left_bottom img {
    width: 50%;
    border-radius: 100%;
    border: solid black 2px;
}

.body_publications_bottom2_post2_right {
    width: 70%;
}

.body_publications_bottom2_post2_right_top {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

.body_publications_bottom2_post2_right_bottom {
    display: flex;
    justify-content: center;
}

.body_publications_bottom2_post2_right_bottom p {
    width: 95%;
}


/*Single*/

.body_single_post {
    background-color: #18183C;
    color: white;
}

.body_single_post2 {
    padding-top: 2.5rem;
}