/*Header*/

.body_single_game {
    background-color: #18183C;
    color: white;
}


/*Top*/

.body_single_game_top {
    display: flex;
    padding-top: 3rem;
}

.body_single_game_top_left {
    width: 50%;
    padding: 2rem;
}

.body_single_game_top_left img {
    width: 100%;
    border: solid 1px;
}

.body_single_game_top_right {
    width: 50%;
}

.body_single_game_top_right_title {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}

.body_single_game_top_right_title h1 {
    border-bottom: solid 1px;
}

.body_single_game_top_right_description {
    display: flex;
    justify-content: center;
}

/*Bottom*/

.body_single_game_bottom {
    display: flex;
}

/*Left*/

.body_single_game_bottom_left {
    width: 0%;
    display: flex;
    justify-content: center;
}

/*Right*/

.body_single_game_bottom_right {
    width: 100%;
}

.body_single_game_bottom_right_top {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem  ;
}

.body_single_game_bottom_right_top h4 {
    border: solid black 1px;
    border-radius: 50px ;
    padding: 1rem;
    background-color: #333360;
}

.body_single_game_bottom_right_bottom {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

.body_single_game_bottom_right_bottom h4 {
    border: solid black 1px;
    border-radius: 50px ;
    padding: 1rem;
    background-color: #333360;
}