<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>

    <body>
    <header>
        <h1>Header</h1>
    </header>

        {% block body %}{% endblock %}

        <footer>Footer</footer>
    </body>
</html>
