{% extends 'base.html.twig' %}

{% block title %}ZapStream - Post{% endblock %}

{% block body %}
    <div class="body_single_post">
        <div class="body_single_post2">
            <div class="body_publications_bottom">
                <div class="body_publications_bottom2">
                    <div class="body_publications_bottom2_post">
                        <div class="body_publications_bottom2_post2" >
                            <div class="body_publications_bottom2_post2_left">
                                <div class="body_publications_bottom2_post2_left_top">
                                    <h1>{{ singlepost.user.pseudo }}</h1>
                                </div>
                                <div class="body_publications_bottom2_post2_left_bottom">
                                    <img src="{{ asset('upload/users/' ~ singlepost.user.avatar) }}">
                                </div>
                            </div>
                            <div class="body_publications_bottom2_post2_right">
                                <div class="body_publications_bottom2_post2_right_top">
                                    <h3> {{ singlepost.title }} </h3>
                                </div>
                                <div class="body_publications_bottom2_post2_right_bottom">
                                    <p> {{ singlepost.description }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}