{% extends 'admin.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}ZapStream Admin - New Actu{% endblock %}

{% block body %}
    <h1>Créer une nouvelle actualité</h1>

    {{ include('admin/actu/_form.html.twig') }}

    <a href="{{ path('app_admin_actu_index') }}">Retourner aux actus</a>
{% endblock %}
