{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<section id="body_404_not_found">
    <div class="error_404">
        <div class="icon_404">
            <a href="{{ path('app_home') }}"> <img src="https://cdn-icons.flaticon.com/png/512/3551/premium/3551629.png?token=exp=1654694574~hmac=4dd58860ad3bfaac09c4a44799f6ed83"/> </a>
        </div>
        <p>
            L'URL de cette page na pas pu etre trouvé. Veuillez vous diriger dans cette direction. <a href="{{ path('app_home') }}">Cliquer-ici</a>
            
        </p>
    </div>
</section>
{% endblock %}