{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<section id="body_404_not_found">
    <div class="error_404">
        <div class="icon_404">
            <a href="{{ path('app_home') }}"> <img src="{{ asset('upload/404/404.png')}}"/> </a>
        </div>
        <p class="error_404_msg">
            L'URL de cette page na pas pu etre trouvé. Veuillez vous diriger dans cette direction. 
            <a class="btn btn_error404" href="{{ path('app_home') }}">Cliquer-ici</a>
            
        </p>
    </div>
</section>
{% endblock %}