{% extends 'base.html.twig' %}

{% block title %}Zapstream - Admin Game{% endblock %}

{% block body %}

    <h1>Admin Game</h1>

    {% for game in games %}
        <p>{{ game.title }}</p>
    {% endfor %}

{% endblock %}