{% extends 'base.html.twig' %}

{% block title %}ZAP Stream - Avatar{% endblock %}

{% block body %}
<section id="body_avatar">
<p>PAGE AVATAR</p>

<div class="view_add_avatar">
    <div>
    {%for streamer in streamers%}
    {% if streamer.avatar %}
    <img src="{{ asset('upload/users/' ~ streamer.avatar) }}">
    {% endif %}
    {%endfor %}
</div>
</div>

<div class="box_add_avatar">
                <div class="add_Avatar">
                    {{ form_start(addAvatar) }}
                            <div class="btn_add_avatar">
                                {{ form_row(addAvatar.avatar2) }}
                            </div>
<button type="submit" class="btn">Valider</button>
                    {{ form_end(addAvatar) }}
                </div>
            </div>
</section>
{% endblock %}