{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<section id="body_security">
<h1>PAGE SECURITY</h1>
<p> En construction </p>
<i class="fa-solid fa-triangle-exclamation"></i>
</section>
{% endblock %}