{% extends 'base.html.twig' %}

{% block title %} ZapStream - Streamers {% endblock %}

{% block body %}

    <div class="wrap">
        <section id="streamer">
            <div id="heading-streamer">
                <h1>STREAMERS</h1>
                <p><span>recent<i class="fa-solid fa-caret-down"></i></span><span>followers<i class="fa-solid fa-caret-down"></i></span></p>
            </div>

            <div id="all-streamers">
                {% for streamer in streamers %}
                    <div class="row-streamer">
                        <a href="{{ path('app_one_streamer', {id: streamer.id }) }}">
                            <div class="one-streamer shadow">
                                {% if streamer.avatar %}
                                    <img src="{{ asset('upload/users/' ~ streamer.avatar) }}">
                                {% endif %}
                                <p> {{ streamer.pseudo }}
                                    {% if streamer.followers %}
                                        {{ streamer.followers }} - followers
                                    {% else %}
                                         0 - followers
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}
